* {
    padding: 0;
    margin: 0;
}

.content {
    font-family: Quicksand, sans-serif;
    background-color: lightgray;
}

.content.select {
    margin-top: 300px;
}

.top-content {
    text-align: center;
    background-color: #baeaea;
    line-height: 62px;
    padding-bottom: 10px;
}

.top-content a {
    text-decoration: none;
    font-size: 17px;
    padding: 10px;
    font-weight: bold;
    color: #0707078f;
}

.top-content a:hover {
    color: #ea3786;
}

.container-fluid.order-by {
    margin-top: 10px;
}

.btn-primary {
    background-color: transparent;
    color: teal;
    border: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #666262;
    background-color: #0062cc52;
}

.btn-primary:hover {
    background-color: #c7c8c978;
    border-color: #0062cc;
    color: gray;
}


/*--------------------------------------- content-img */

.content-img {
    margin-top: 60px;
}

.content-img .box {
    padding: 0;
    margin-top: -16px;
    padding: 5px;
}

.content-img .box .img {
    position: relative;
    overflow: hidden;
}

.content-img .box .title {
    position: absolute;
    top: 0%;
    z-index: 2;
    left: 0px;
    color: aliceblue;
    background-color: #00000087;
    width: 100%;
    height: 39px;
    line-height: 39px;
    padding: 0px 10px;
    opacity: 1;
    transition: 0.5s;
}

.content-img .box .control {
    position: absolute;
    bottom: 0;
    z-index: 3;
    left: 0px;
    color: aliceblue;
    background-color: #00000087;
    width: 100%;
    height: 10%;
    line-height: 39px;
    padding: 0px 10px;
    opacity: 1;
    transition: 0.5s;
}

.content-img .box .control .control-right {
    display: inline;
    float: right;
}

.content-img .box .control .control-right .icon1,
.content-img .box .control .control-right .icon2,
.content-img .box .control .control-right span.icon3 {
    margin-right: 10px;
    cursor: pointer;
}

.content-img .box img {
    width: 100%;
    transition: 0.5s;
}

.img:hover img {
    transform: scale(1.2);
}


/* .box:hover .control {
    height: 10%;
} */

.box:hover .title {
    opacity: 1;
    height: 100%;
}


/* ---------------------------------------------------End content-img */


/* active */

.active {
    border-bottom: 2px solid orchid;
}

.top-content a.active {
    color: rgba(4, 8, 255, 0.466);
}


/* responsive */

@media only screen and (min-width:320px) and (max-width:543px) {
    .top-content {
        text-align: left;
        background-color: #baeaea;
        line-height: 39px;
    }
    .top-content>a {
        font-size: 15px;
        width: 50px;
        /* background: aqua; */
    }
}