:root {
    --main_data-menu_footer: #f6f6f8;
    --content_menu_footer-bottom: #FFFFFF;
    --highlight-color1: #56cfe1 !important;
    --highlight-color2: #FF4E00;
    --text-normal-color: #878787;
    --text-highlight-color: #222222;
}


/* fas01 xám trắng white-gray */

.fs-content,
.fs-menu,
.fs-footer2 {
    background-color: var(--content_menu_footer-bottom);
}

.fs-footer,
.fs-data-menu {
    background-color: var( --main_data-menu_footer);
}

.fs-highlight-2,
.fs-highlight-1:hover {
    background-color: var(--highlight-color1);
    color: white !important;
}

.fs-ul>li>a:hover,
.fs-a:hover,
.fs-text-hover:hover,
.fs-ul>li:hover {
    color: var(--highlight-color1);
}

.fs-highlight-1,
.fs-highlight-2:hover {
    background-color: var( --highlight-color2);
    color: white !important;
}

.fs-text-normal,
.fs-a,
.fs-ul>li>a,
.fs-ul>li {
    color: var( --text-normal-color);
}

.fs-text-highlight {
    color: var(--text-highlight-color);
}


/* ---------------------- */

.bg-cyclamen,
.cyclamen-ul>li,
.cyclamen-ul>a,
.hover-cyclamen:hover {
    background-color: #83597d !important;
    color: white
}

.text-cyclamen {
    color: #83597d;
}

.bg-cyclamen-opacity,
.hover-cyclamen-opacity:hover {
    background-color: #83597d70 !important;
    color: white;
}

.text-cyclamen-opacity {
    color: #83597d70;
}

.hover-cyclamen-basic:hover,
.cyclamen-ul>li:hover,
.cyclamen-ul>a:hover {
    background-color: #e3bbbd!important;
    color: rgb(255, 255, 255);
}

.cyclamen-content,
.cyclamen-menu {
    background-color: #F9E1F2 !important;
}

.cyclamen-footer {
    background-color: #2F0E25 !important;
    color: white;
}


/* -------------------------- */