* {
    padding: 0;
    margin: 0;
}

.top {
    background: url(../img/79.jpg);
    height: 100vh;
    /* height: 500px; */
    background-position: center bottom;
    background-size: cover;
    position: relative;
}

.top .menu {
    height: 40px;
    padding-top: 20px;
}

.top .menu i.btn-menu {
    color: #a14f62;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
    font-size: 22px;
    border-radius: 2px;
    padding: 0px 6px;
    background-color: #ffffffde;
    cursor: pointer;
}

.top .menu p.logo {
    background-color: #a14f62;
    border-radius: 3px;
    display: inline;
    padding: 3px 9px;
    font-family: Quicksand, sans-serif;
    font-size: 22px;
    color: white;
}

.top .menu a.login {
    background-color: #a14f62;
    padding: 3px 15px;
    margin-left: 9px;
    border-radius: 3px;
    height: 30px;
    text-decoration: none;
    font-weight: bold;
    color: #F3E7EA;
}

.large-menu ul {
    display: block;
}

.large-menu ul li {
    float: left;
    list-style: none;
    padding: 3px 9px;
    font-family: 'Quicksand';
    font-size: 17px;
}

.large-menu ul li a {
    color: #f4f1f1;
    text-decoration: none;
}

.large-menu ul li a:hover {
    color: #a14f62;
    text-decoration: none;
}


/*---------------------------------------------- Box search */

.top .box-search {
    width: 600px;
    height: 222px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
}

.top .box-search p.title-search {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.top .box-search .title-search span {
    color: #a14f62;
    background: #f0f8ff70;
    padding: 2px 5px;
}

.top .box-search .form-search {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    position: relative;
}

.form-control {
    transition: none;
    height: 60px;
    font-size: 15px;
    font-family: 'Quicksand';
    color: white;
}

.form-group .form-control:focus {
    font-size: 15px;
}

.top .box-search .form-search .icon {
    position: absolute;
    top: 28%;
    right: 10px;
    color: #12e5e6;
    font-size: 19px;
}

.top .box-search .key-search {
    font-size: 15px;
    color: #f4f8fd;
    font-weight: 500;
    font-family: 'Quicksand';
}


/*---------------------------------------------------------------- End- box search */

.top .small-menu {
    width: 98%;
    height: auto;
    background-color: #0c171e87;
    position: absolute;
    top: 57px;
    right: 14px;
    box-shadow: #332626 0px 5px 18px 1px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    border-bottom: 1px solid #a49e9e6b;
}

.small-menu h6 {
    color: white;
    text-transform: uppercase;
    font-family: 'Quicksand';
}

.small-menu .one-link {
    margin: 15px 0px;
    font-size: 14px;
}

.small-menu .one-link .link a {
    text-decoration: none;
    color: #b7c0c2;
    font-family: Quicksand, sans-serif;
    border-top: 1px solid rgba(255, 255, 255, 0.267);
    padding: 2px;
}

.small-menu .one-link .link a:hover {
    color: #ffffff;
    background-color: #21bbf38e;
}

.small-menu .one-link a.button {
    text-decoration: none;
    color: white;
    font-family: Quicksand, sans-serif;
    background-color: #2f5d6e;
    padding: 2px 19px;
    margin-top: 5px;
    display: inline-block;
    border-radius: 1px;
}

.small-menu .one-link a.button:hover {
    background-color: #21bbf38e;
}


/* show */

.top .small-menu.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition: 0.5s;
}

.top .box-search.show {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}


/* reponsive */

@media only screen and (min-width: 320px) and (max-width: 543px) {
    .large-menu {
        display: none;
    }
    .top .box-search {
        width: 400px;
        height: 222px;
    }
    .top .box-search p.title-search {
        font-size: 30px;
    }
    .top .box-search {
        width: 300px;
        height: 222px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }
    .top .small-menu {
        background-color: #3f3d3d;
        right: 3px;
    }
}

@media only screen and (min-width: 544px) and (max-width: 767px) {
    .large-menu {
        display: none;
    }
    .top .box-search {
        width: 500px;
        height: 222px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }
    .top .box-search p.title-search {
        font-size: 32px;
    }
    .top .small-menu {
        height: 600px;
        width: 95.5%;
    }
}