* {
    padding: 0;
    margin: 0;
}

footer {
    background-color: #202126;
    color: #888;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.footer-top {
    padding-top: 72px;
    padding-bottom: 50px;
}

.h3-setting {
    color: white;
    font-size: 20px;
}

.text {
    margin-left: 10px;
    font-size: 15px;
    font-style: italic;
    font-family: "Source Serif Pro", serif;
    margin-bottom: 25px;
}

.text-highlight {
    color: white;
    font-size: 16px;
}

.form {
    position: relative;
    margin-top: 42px;
    margin-bottom: 25px;
}

.form-control {
    height: 54px;
    border-radius: 30px;
    background-color: #292b31;
    border: none;
}

.form-control:focus {
    background-color: #292b31;
    border: none;
    box-shadow: none;
    color: white;
    font-size: 14px;
}

.btn-setting {
    background-color: #f88020;
    border: none;
    color: white;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    height: 46px;
    padding: 0px 30px;
    border-radius: 30px;
}

.icon-color {
    color: #f88020;
    font-size: 20px;
    margin-right: 5px;
    width: 20px;
}

.img-setting {
    margin-bottom: 10px;
}

.col-setting {
    padding-left: 5px;
    padding-right: 5px;
}

.ul-footer-top>li {
    list-style: none;
    margin-top: 24px;
}

.ul-footer-top a {
    color: white;
    text-decoration: none;
}


/* footer bottom */

.footer-bottom {
    padding-top: 20px;
    padding-bottom: 39px;
    border-top: 1px solid #bbbbbb85;
}

.ul-footer-bottom {
    display: inline;
}

.ul-footer-bottom>li {
    float: left;
    list-style: none;
    padding: 0px 10px 10px 0px;
}

.ul-footer-bottom>li a {
    text-decoration: none;
    color: white;
}