body,
html {
    width: 100%;
    height: 100%;
    /* font-family: Quicksand, sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.color {
    background-color: blue;
}

.accept-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    /* background-color: #7a4792; */
}

.back-to {
    text-decoration: none !important;
    color: #939393;
    transition: 0.4s;
    padding: 5px;
    display: inline-block;
    margin-top: 10px;
}

.back-to:hover {
    /* background-color: #a59e9e; */
    color: rgb(0 0 0 / 66%);
    padding: 5px;
}

.box-accept {
    width: 39vmax;
    height: auto;
    border-radius: 6px;
    background-color: #343e4ee6;
    margin: auto;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
}

* {
    padding: 0;
    margin: 0;
}

.theme {
    height: 100%;
    width: 100%;
}

.theme .top {
    position: fixed;
    top: 0;
    margin: 0px auto;
    background-color: #343e4e;
    padding: 10px;
    z-index: 5;
}

.box-right-pin {
    width: 40px;
    bottom: 139px !important;
    /* display: none; */
}

.theme .top .logo {
    font-size: 20px;
    display: inline;
    padding: 6px;
    color: white;
    background-color: #343e4e;
    font-weight: 500;
    color: #f3d476;
}

.theme .top .col-setting {
    padding-left: 10px;
    padding-right: 10px;
}

.theme .top .col-setting .icon-top {
    font-size: 21px;
    color: #ffffff;
    /* color: #343e4e; */
    line-height: 32px;
    cursor: pointer;
    transition: 0.5s;
}

.theme .top .col-setting .icon-top:hover {
    transform: scale(1.2);
    color: #7a4792;
}

.theme .top .form-setting {
    height: 30px;
}


/* End -top */


/* content */

.content {
    padding-bottom: 114px;
    display: block;
}

.content .background-top {
    padding: 10px;
    box-sizing: border-box;
    background: cornflowerblue;
    background-position: center center;
    background-size: cover;
}

.theme .map {
    margin-top: 65px;
    text-align: right;
}

.theme .highlight {
    background-color: tomato;
    padding: 2px 3px;
    border-radius: 2px;
    color: white;
    font-size: 14px;
}

.active-check {
    background-color: #dcdbdd;
}

.text {
    font-size: 14px;
}


/* w3-card */

.w3-card,
.w3-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.w3-card-4,
.w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.name-profile {
    font-weight: 500;
}

.img-profile {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.accept {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a.accept-button {
    width: 106px;
    height: 39px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    text-decoration: none;
    color: #161616;
    z-index: 9999;
    opacity: 0;
    transition: 0.4s;
    text-transform: uppercase;
    font-size: 14px;
}

.accept:hover {
    background-color: #343e4e42;
    color: white !important;
}

.accept:hover .accept-button {
    opacity: 1;
}

.img-profile ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #343e4e42; */
    opacity: 1;
    z-index: 1;
}

.trangthai-active {
    background-color: #47bb1d;
    color: white;
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
}

.vitri-congviec {
    background-color: #343e4e;
    color: white;
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
}

.setting-col-pro5 {}

.button-link,
.button-load {
    background-color: #212529;
    color: white;
    margin: 5px;
    text-align: center;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    transition: 0.4s;
    box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.455);
}

.button-load {
    height: 45px;
    margin: 45px;
    /* margin-bottom: 15px; */
    width: 168px;
    box-shadow: none;
    border-radius: 5px;
}

.center {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.left-start {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: start!important;
    justify-content: flex-start!important
}

.right-end {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

a .button-load {
    text-decoration: none !important;
}


/* 
.row-profile1,
.row-profile2 {
    margin-top: 15px;
    margin-bottom: 15px;
} */

.theme .one-profile {
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
}

.theme .one-profile2 {
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 360px;
}

.theme .one-profile:hover .chitiet {
    opacity: 1;
}

.theme .one-profile img {
    transition: 0.5s;
}

.theme .one-profile:hover img {
    transform: scale(1.2);
}

.theme .one-profile:hover .diachi,
.theme .one-profile:hover .thongtin {
    opacity: 0;
}

.theme .one-profile .thongtin {
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 1px;
    transition: 0.5s;
}

.theme .one-profile .diachi {
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    /* background-color: tomato; */
}

.theme .one-profile .chitiet {
    font-size: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s;
    background-color: #2923226b;
    line-height: 219px;
    text-align: center;
    padding: 3px;
    opacity: 0;
}

.theme .one-profile .chitiet a {
    text-decoration: none;
    color: white;
}

.button-chitiet {
    /* background-color: #343e4ea3; */
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.text-chitiet1 {
    background-color: #343e4ea3;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
}

.button-chitiet .text-chitiet2 {
    background-color: #343e4ea3;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
}

.theme .one-profile .rate .title-highlight,
.theme .one-profile .thongtin .title-highlight,
.theme .one-profile .diachi .title-highlight {
    background-color: rgb(52 62 78 / 69%);
    color: white;
    padding: 2px 6px;
}

.theme .one-profile .thongtin .title-highlight.active,
.theme .one-profile .diachi .title-highlight.active {
    background-color: #65e072;
    color: white;
    padding: 2px 6px;
}

.theme .one-profile .thongtin .title-highlight.not-active,
.theme .one-profile .diachi .title-highlight.not-active {
    background-color: #fd3030a8;
    color: white;
    padding: 2px 6px;
}


/* bottom */

.theme .bottom-control {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343e4e;
}

.theme .bottom-control .one-item {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    /* background-color: teal; */
}

.theme .bottom-control .one-item p.title {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}

.icon {
    color: white;
    font-size: 32px;
}

.theme .bottom-control .one-item:hover p.title {
    color: #c1b7c3;
}

.one-item:hover .icon,
.one-item:hover .title {
    color: rgb(116 213 246);
}

.setting-hiden {
    display: none;
}

@media (min-width:320px) and (max-width:543px) {
    .setting-col-pro5 {
        margin-top: 15px;
    }
    .button-load {
        height: 40px;
        width: 140px;
    }
    .theme .bottom-control {
        position: relative;
    }
    .theme .top {
        padding: 0px;
    }
    .icon-timkiem {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .setting-hiden {
        display: block;
        color: white;
        /* background-color: #65e072; */
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .icon-top {
        display: none;
    }
    .content {
        padding-bottom: 27px;
        padding-top: 23px;
    }
    .text-chitiet1 {
        font-size: 18px;
    }
    .button-chitiet .text-chitiet2 {
        font-size: 18px;
    }
}